# This is an example config file.

# Directory to search for unit files.
source_path='/home/someuser/someservice/'

# Names of all unit files to be installed.
services=(
    'example.service'
    'example.timer'
)

# Units to be enabled after installing
enable=(
    'example.timer'
)

# Units to start after installing.
start=(
    'example.service'
    'example.timer'
)

